# Ignore everything
*
!*/

# But not these files...
!.gitignore
!COMPSYS723\ 2020\ FreeRTOS\ Extra.pdf
!COMPSYS723\ 2020\ FreeRTOS\ Lab.pdf
!FreeRTOS_simulator/**
!COMPSYS723\ 2020\ FreeRTOS\ Resources/**

!Nios/nios2.sopcinfo

!Nios/software/gp21_cs723_a1/freertos/**
!Nios/software/gp21_cs723_a1/*.c
!Nios/software/gp21_cs723_a1/*.h